@import "common.scss";
@import "_mixin.scss";
.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .header {
        width: 100%;
        height: px2rem(300px);
        img {
            width: 100%;
            height: 100%;
        }
    }
    .main {
        width: 100%;
        flex: 1;
        overflow-y: scroll;
        background: #fafafa;
        .box {
            width: 90%;
            border: 1px solid #ccc;
            margin: px2rem(10px) auto;
        }
        dl {
            width: 100%;
            height: px2rem(50px);
            border-bottom: 1px solid #ccc;
            display: flex;
            position: relative;
            dd {
                width: px2rem(50px);
                height: px2rem(50px);
                text-align: center;
                line-height: px2rem(50px);
                img {
                    width: px2rem(40px);
                    height: px2rem(40px);
                    line-height: px2rem(50px);
                }
            }
            dt {
                margin-left: px2rem(15px);
                p {
                    color: #ccc;
                }
            }
            i {
                width: px2rem(20px);
                height: px2rem(20px);
                background: #666;
                border-radius: 50%;
                color: #fff;
                text-align: center;
                line-height: px2rem(20px);
                font-size: px2rem(16px);
                position: absolute;
                top: px2rem(15px);
                right: px2rem(15px)
            }
        }
    }
    .footer {
        width: 100%;
        height: px2rem(50px);
        display: flex;
        text-align: center;
        background: skyblue;
        align-items: center;
        a {
            width: 20%;
            i {
                font-size: px2rem(16px);
                color: #666;
            }
            p {
                font-size: px2rem(16px);
                color: #666;
            }
        }
    }
}